@media screen and (max-width: 576px) {
    body{
        background-color: aqua;
    }
    .flex-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 1200px;
    }

    .flex-item{
        width: 400px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    
}
body{
    background-color: #f5f5f5;
}

nav{
    background-color: #fff;
}
nav ul{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav ul li{
    list-style-type: none;
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 25px;
}


li a:hover{
    color: #ff0000;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

h1{
    text-align: center;
    color: #333;
    font-size: 36px;
    margin-top: 50px;
}


.product-card{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

img{
    width: 40%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.about-product{
    text-align: center;
    margin: 20px;
    font-size: 18px;
    color: #666;
    border: 1px solid #ccc;
}

.product-features{
    text-align: center;
    margin: 20px;
    font-size: 18px;
    color: #666;
    border: 1px solid #ccc;
}

.buy-button{
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.buy-button:hover{
    background-color: #cc0000;
    font-size: 20px;
    color: white;
}

p a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

p a:hover{
    color: #ff0000;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

footer p{
    font-size: 18px;
}

.price{
    font-size: larger;
}
